input{
    width: 90%;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 5px;
}

button{
    width: 90%;
    margin-bottom: 10px;
}

label{
    width: 100%;
    color: red;
    margin-bottom: 10px;
}

#select{
    color: black;
}