.cabecalho { grid-area: cabecalho;}
.menu { grid-area: menu; }
.menu2 { grid-area: menu2; }
.menu3 { grid-area: menu3; }
.conteudo { grid-area: conteudo; }
.rodape { grid-area: rodape; }

.grid-container {
  display: grid;
  grid-tamplate-rows: 15% auto 15%;
  grid-template-areas:
  'cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho'
  'menu menu2 menu2 menu2 menu3 menu3'
  'conteudo conteudo conteudo conteudo conteudo conteudo'
  'rodape rodape rodape rodape rodape rodape';
  
  gap:3px;
  background-color: gray;
  padding: 3px;
}

.grid-container > div {
  background-color: whitesmoke;
  text-align: center;
  font-size: 30px;
}